:root {
  --acsent-color: #2196f3;
}
body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto';
  font-family: sans-serif;
}

/* Цвет логотипа */
.logo {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--acsent-color);
}
span {
  color: var(--acsent-color);
}
/* ссылки без подчеркивания */
a {
  text-decoration: none;
  color: #212121;
}
a:hover,
a:focus {
  color: var(--acsent-color);
}
/* Список без маркеров */
ul {
  list-style: none;
}
/* Навигация и автор */
.site-nav .auto-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
/* Заголовок 1   */
h1 {
  color: green;
  /* color: #ffffff; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Цвет заголовков h2, h3 */
.title {
  color: #212121;
}
/* Курсор кнопки */
button {
  cursor: pointer;
}
/* Кнопка Заказать услугу */
.button-order {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  letter-spacing: 0.06em;
}

.button-order:hover,
.button-order:focus {
  opacity: 0.5;
}
/* Кнопки фильтра */
.button-filtr {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-filtr:hover,
.button-filtr:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.logo-foot {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.link-map {
  color: #ffffff;
}

.contacts {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
